doctype html
html(lang="en")

    head
        title Login

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        //link(rel="stylesheet", href="login_style.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body(background="https://clipartion.com/wp-content/uploads/2016/04/yellow-paperplane-at-vector-online.png")
        div.container(style="position: absolute; right: 0px; height: 100%; width: 482px; background: #03A9F4")
            div(align="center" style="color: #37474F; padding-top: 100px")
                h1 Log in


            form.form-horizontal(method='post', action='/login')
                div.form-group(align="center" style="padding-top: 95px")
                    label.col-sm-2.control-label(for="username" style="color: #37474F") Email*
                    div.col-sm-10
                        input#username.form-control(type="text", style="font-weight: bold; color: #01579B" name="username" value = "john@test.com" required)

                div.form-group(align="center" style="padding-top: 17px")
                    label.col-sm-2.control-label(for="password" style="color: #37474F") Password*
                    div.col-sm-10
                        input#password.form-control(type="password",name="password" value = "carlos!123" required)

                div.form-group
                    p= login_error_message
                    div.col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") Submit

            div.form-group(align="center" style="padding-top: 50px")
                p= login_error_message
                button.btn.btn-default(type="submit" style="color: #37474F") Log in
            div(align="center" style="padding-top: 35px")
                label(align="center" style="color: #ECEFF1") -------- or --------
            div(align="center" style="padding-top: 35px")
                button.btn.btn-default(onclick="location.href='/register'"  style="color: #37474F") Sign up
