doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")

        title Login

    body(background="http://imgh.us/Prattle_Background.png")
        div.container(style="position: absolute; right: 0px; height: 100%; width: 482px; background: #03A9F4")
            div(align="center" style="color: #37474F; padding-top: 0px")
                h1 Register

            div(align="center" style="color: #37474F; padding-top: 5px")
                h3 Fields with a star are required.

            form.form-horizontal(method='post', action='/register')
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="username" style="color: #37474F") Username*
                    div.col-sm-10
                        input#username.form-control(type="text", style="font-weight: bold; color: #01579B", name="username" required)

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="firstName" style="color: #37474F") First Name*
                    div.col-sm-10
                        input#firstName.form-control(type="text", style="font-weight: bold; color: #01579B", name="firstName"  required)

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="middleName") Middle Name
                    div.col-sm-10
                        input#middleName.form-control(type="text", style="font-weight: bold; color: #01579B", name="middleName")

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="lastName") Last Name*
                    div.col-sm-10
                        input#lastName.form-control(type="text", style="font-weight: bold; color: #01579B", name="lastName" required)

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="emailAddress") Email*
                    div.col-sm-10
                        input#email.form-control(type="email", style="font-weight: bold; color: #01579B", name="emailAddress" required)

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="password") Password*
                    div.col-sm-10
                        input#password.form-control(type="password", style="font-weight: bold; color: #01579B", name="password")

                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="confirmPassword") Confirm Password*
                    div.col-sm-10
                        input#confirmPassword.form-control(type="password", style="font-weight: bold; color: #01579B", name="confirmPassword")

                div.form-group(align="center")
                    p= error_message
                    button.btn.btn-default(type="submit" style="color: #37474F") Submit
                div(align="center" style="padding-top: 35px")
                    label(align="center" style="color: #ECEFF1") -------- or --------
                div(align="center" style="padding-top: 35px")
                    a(href='/login' style="border-color: #ccc; background-repeat: repeat-x; text-shadow: 0 1px 0 #fff; box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075); background-color: #fff; border: 1px solid transparent; border-radius: 4px; cursor: pointer; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; color: #37474F; text-decoration : none") Back to Login
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")