doctype html
html(lang="en")
    head
        title Login

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body(background="http://imgh.us/User_picture.svg")
        div.container(style="position: absolute; right: 0px; height: 105%; width: 482px; background: #03A9F4")
            div(align="center" style="color: #37474F; padding-top: 0px")        
                h1 Register

            div(align="center" style="color: #37474F; padding-top: 5px")
                h3 Fields with a star are required.
                
            form.form-horizontal(method='post', action='/register')
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="username" style="color: #37474F") Username*
                    div.col-sm-10
                        input#username.form-control(type="text", style="font-weight: bold; color: #01579B", name="username" value = "jsmith" required)
                    
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="firstName" style="color: #37474F") First Name*
                    div.col-sm-10
                        input#firstName.form-control(type="text", style="font-weight: bold; color: #01579B", name="firstName" value="John"  required)
                
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="middleName") Middle Name
                    div.col-sm-10
                        input#middleName.form-control(type="text", style="font-weight: bold; color: #01579B", name="middleName" value="Albert")
                
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="lastName") Last Name*
                    div.col-sm-10
                        input#lastName.form-control(type="text", style="font-weight: bold; color: #01579B", name="lastName" value = "Smith" required)
                
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="emailAddress") Email*
                    div.col-sm-10
                        input#email.form-control(type="email", style="font-weight: bold; color: #01579B", name="emailAddress" value = "john@test.com" required)
                
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="password") Password*
                    div.col-sm-10
                        input#password.form-control(type="password", style="font-weight: bold; color: #01579B", name="password" value = "carlos!123")
                
                div.form-group(align="center" style="padding-top: 3px")
                    label.col-sm-2.control-label(for="confirmPassword") Confirm Password*
                    div.col-sm-10
                        input#confirmPassword.form-control(type="password", style="font-weight: bold; color: #01579B", name="confirmPassword" value = "carlos!123")
                
                div.form-group(align="center")
                    p= error_message
                    button.btn.btn-default(type="submit" style="color: #37474F") Submit

                div.form-group    
                    #login.button.btn.btn-default(onclick="location.href='/login'"  style="color: #37474F") Login